html, body {
  background: #666666;
  height: 100%;
  margin:0;
}
#content {
  height: 100%;
  margin: 0;
}
.panel {
  display: block;
  margin: auto;
  top: 50%;
  position: relative;
  transform: translateY(-50%);
  background: #e2e2e2;
}
.grid {
  stroke-width: 1px;
  stroke: #000000;
  stroke-dasharray: 1 3;
}
.base {
  stroke-width: 1px;
  stroke: #000000;
  fill: none;
}
.baseYellow {
  stroke-width: 1px;
  stroke: #000000;
  fill: #fff500;
  fill-opacity: 0.25;
}
.baseOrange {
  stroke-width: 1px;
  stroke: #000000;
  fill: #ff9100;
  fill-opacity: 0.25;
}
.baseBlue {
  stroke-width: 1px;
  stroke: #000000;
  fill: #1c00ff;
  fill-opacity: 0.25;
}
.baseCyan {
  stroke-width: 1px;
  stroke: #000000;
  fill: #00fff7;
  fill-opacity: 0.25;
}
.baseGreen {
  stroke-width: 1px;
  stroke: #000000;
  fill: #1cff00;
  fill-opacity: 0.25;
}
.basePurple {
  stroke-width: 1px;
  stroke: #000000;
  fill: #c400ff;
  fill-opacity: 0.25;
}
.basePink {
  stroke-width: 1px;
  stroke: #000000;
  fill: #ff006e;
  fill-opacity: 0.25;
}
